# Content List 
#### 01. Importing Libraries 
#### 02. Importing Dataframes 
#### 03. Price_lable User Defined Function
#### 04. Loc() Function If-Statement 
#### 05. For-Loops If-Statement
#### 06. Task

# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd 
import numpy as np
import os

# 02. Importing Dataframes

In [2]:
path = r"C:\Users\maple\OneDrive\Desktop\CareerFoundry\Instacart Basket Analysis"

In [3]:
df_ords_prods = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [4]:
df = df_ords_prods[:1000000]

# 03. Price_lable User Defined Function

In [5]:
# Define a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [6]:
# Apply the function 
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\maple\AppData\Local\Temp\ipykernel_6560\1065531122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [7]:
# Checking value counts of new price_range column
df['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [8]:
# Checking max price in dataframe
df['prices'].max()

14.8

# 04. Loc() Function If-Statement

In [10]:
# Setting high range prouduct if statement on df subset 
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

In [11]:
# Setting mid range prouduct if statement on df subset 
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [14]:
# Setting low range prouduct if statement on df subset 
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [15]:
# Checking value counts of new price_range_loc column on df subset 
df['price_range_loc'].value_counts(dropna = False)

Mid range product    756450
Low range product    243550
Name: price_range_loc, dtype: int64

In [20]:
# Setting high range prouduct if statement on full df_ords_prods dataframe
df_ords_prods.loc[df_ords_prods['prices'] > 15, 'price_range_loc'] = 'High range product'

In [24]:
# Setting mid range prouduct if statement on full df_ords_prods dataframe
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [22]:
# Setting low range prouduct if statement on full df_ords_prods dataframe
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [26]:
# Checking value counts of new price_range_loc column on full df_ords_prods dataframe  
df_ords_prods['price_range_loc'].value_counts(dropna = False)

Mid range product     21860860
Low range product     10126321
High range product      417678
Name: price_range_loc, dtype: int64

# 05. For-Loops If-Statement

In [36]:
# Checking the frequency of orders_day_of_the_week to determine busiest days 
df_ords_prods['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [44]:
# Creating the For Loop
result = []

for value in df_ords_prods['orders_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [38]:
# Adding Result list as column in df_ords_prods dataframe 
df_ords_prods['busiest_day'] = result

In [39]:
# Checking value counts of new busiest_day column to compare with orders_day_of_week frequency
df_ords_prods['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# 06. Task

In [41]:
#renaming price_range_loc column to price_label 
df_ords_prods = df_ords_prods.rename(columns = {'price_range_loc' : 'price_label'})

In [45]:
#Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.
result2 = []

for value in df_ords_prods['orders_day_of_week']:
    if value in [0,1]:
        result2.append('Busiest days')
    elif value in [4,3]:
        result2.append('Least busiest days')
    else:
        result2.append('Regularly busy')

In [46]:
# Creating new busiest_days column
df_ords_prods['busiest_days'] = result2

In [48]:
# Checking value counts of new busiest_days column to compare with orders_day_of_week frequency
df_ords_prods['busiest_days'].value_counts(dropna = False)

Regularly busy        12916111
Busiest days          11864412
Least busiest days     7624336
Name: busiest_days, dtype: int64

#### In checking the values for the busiest_days column I confirmed that the label "least busiest days" is the sum of days 3 and 4, while the label "busiest days" is the sum of days 0 and 1. "Regularly busy" is the sum of all other days.

In [49]:
#Removing the original busiest_day column
df_ords_prods = df_ords_prods.drop(columns=['busiest_day'])

In [50]:
df_ords_prods.head()

,order_id,user_id,number_of_orders_placed,orders_day_of_week,order_hour_of_day,days_since_prior_order,no_prior_orders,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,exists,price_label,busiest_days
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busiest days
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busiest days
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busiest days
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busiest days

In [51]:
#When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”
df_ords_prods['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [52]:
result3 = []

for value in df_ords_prods['order_hour_of_day']:
    if value in [10, 11, 14, 15, 13, 12, 16, 9]:
        result3.append('Most orders')
    elif value in [3, 4, 2, 5, 1]:
        result3.append('Fewest orders')
    else:
        result3.append('Average orders')

In [53]:
# Creating a new busiest_hours column 
df_ords_prods['busiest_hours'] = result3

In [55]:
#Print the frequency for this new column.
df_ords_prods['busiest_hours'].value_counts(dropna = False)

Most orders       21118071
Average orders    10909229
Fewest orders       377559
Name: busiest_hours, dtype: int64

In [57]:
#Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.
df_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_busiest_hours_days.pkl'))